.Text{
    color: white;
    font-family: sans-serif;

}
.hiText{
    font-size: 35px;
    line-height: 38px;
}
.Name{
    font-size: 45px;
    font-weight: 600;
    line-height: 47px;
    background: linear-gradient(to right, #4b35c5, #76d6b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent; 
}
.and{
    font-size: 30px;
    line-height: 34px;
}
.imDev{
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    background: linear-gradient(to right, #4b35c5, #76d6b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent; 
    border-right: 2px solid black; /* adds a cursor effect */
  white-space: nowrap; 
  overflow: hidden; 
  animation: typing 3s steps(30) infinite, blink 1s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink {
    50% { border-color: transparent }
  }
  
@media (max-width: 914px) {
  .hiText{
    font-size: 25px;
    line-height: 30px;
}
.Name{
  font-size: 30px;
  line-height: 35px;
}
.and{
  font-size: 25px;
  line-height: 30px;
}
.imDev{
  font-size: 30px;
  line-height: 35px;
}
}

@media (max-width: 540px) {
  .Text{
    width: 280px;
    height: 135px;
}
}