.forthWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-block: 20px;
    gap: 50px;
}
.topText{
    background: linear-gradient(to right, #4b35c5, #76d6b6);
    background-clip: text;
    color: transparent;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.skillSection{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
}
.skill{
    border: 2px solid;
    height: 270px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #91C499;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
.skill:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    transition: ease-in-out 0.2s;
}
.skillLogos{
    height: auto;
    width: 50%;
}
 @media (max-width: 600px) {
    .skill{
        height: 250px;
        width: 200px;
    }
    .skillSection{
        gap: 18px;
        padding: 15px;
    }
 }
 @media (max-width:460px) {
    .skill{
        height: 180px;
        width: 150px;
    }
    .skillSection{
        gap: 15px;
        padding: 10px;
    }
 }